.search {
  padding-top: 16px;
  padding-left: 4vw;
  padding-right: 4vw;
  .search-bar {
    height: 50px;
    max-width: 800px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #EEE;
    display: flex;

    input[type=text] {
      height: 100%;
      padding-left: 16px;
      border: none;
      box-sizing: border-box;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      flex-grow: 1;
    }
    input[type=text]:focus {
      outline: none;
    }
    input[type=submit] {
      height: 100%;
      border: none;
      padding-right: 16px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      background-color: #FFF;
      cursor: pointer;
    }
  }

  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -16px;
    margin-right: -16px;

    .search-result {
      width: 200px;
      height: 300px;
      border: 1px solid #EEE;
      margin: 16px;
      position: relative;

      .set-result {
        padding: 16px;
        position: absolute;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        h2 {
          margin-top: 0;
          margin-bottom: 8px;
        }
        p {
          margin-bottom: 0;
          margin-top: 8px;
        }
        .description {
          flex-grow: 1
        }
      }
    }
  }
}
